
.frame {
    background-color: #fff;
    margin: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .address,
    .icons {
        font-size: .85em;
        padding: 0 10px;
        margin-top: 8px;
    }

    .price,
    .homie-exclusive {
        position: absolute;
        z-index: 2;
    }

    .price {
        background-color: #fff;
        padding: 4px;
        color: red;
    }

    .homie-exclusive {
        width: 100%;
        text-align: center;
        color: #fff;
        background-color: rgba(138, 0, 0, 0.6);
        margin-top: -18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .address-icons-container {
        display: flex;
        height: calc(100% - 155px);
        flex-wrap: wrap;
        align-content: space-between;
        color: #555;
        cursor: pointer;
        div {
            width: 100%;
            flex-basis: 100%;
        }
    }

    .icons {
        display: flex;
        justify-content: space-between;
        margin: 15px 0 8px;
        span {
            flex-basis: calc(20% - 4px);
            border-right: 1px solid #555;
            text-align: center;
            &:last-child {
                border-right: 0;
            }
        }
    }

    &.selected {
        .price {
            background-color: red;
            color: #fff;
        }
    }
}

.photo-container {
    height: 155px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
